@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

*{
     padding: 0;
     margin: 0;
}
body {
     background: rgb(36,34,69);
     background: linear-gradient(90deg, rgba(36,34,69,1) 0%, rgba(20,20,61,1) 42%, rgba(31,89,106,1) 81%, rgba(18,90,106,1) 95%, rgba(133,142,144,1) 100%);
     text-align: center;
     font-family: 'Yeon Sung', cursive;   
}
/*nav bar*/
a{
     text-decoration: none;
}
.menu{
     background: rgba(255, 255, 255, 0);
     background: linear-gradient(90deg, rgba(36,34,69,1) 0%, rgba(20,20,61,1) 42%, rgba(31,89,106,1) 81%, rgba(18,90,106,1) 95%, rgba(133,142,144,1) 100%);
}
.fondo{
     background-color: black;
     width: 100%;
     position: fixed;
     z-index: 100;
}
ul{
     list-style: none;     
}
.imagenes{
     display: flex;
     align-items: center;

}
.github{
     padding: 15px;
}
.instagram{
     padding: 15px;
}
.whatsapp{
     padding: 15px;
}
.item{
     border: none;
     outline: none;
     padding: 10px 16px;
     background-color: #094970;
}
.active, .item:hover {
     background-color: rgba(16, 96, 143, 0.233);
     color: white;
}
.contacto{
     padding-bottom: 25px;
     border-radius: 25%;
     height: 25px;
     background-color: rgba(106, 33, 152, 0.541);
}
/*fin de navbar*/
/*inico banner*/
.banner{
     opacity: 50%;
     padding-top: 80px;
     padding-bottom: 25px;
     
}
/*fin banner*/
/*inicio presentacion*/
#presentacion{
     padding-top: 50px;
}
.nombre{
     margin-top: 10px;
     color: azure; 
}
.presentacion{
     margin-top: 25px;
     color: azure;
     padding-left: 45px; 
}
.avatar{
     border-radius: 100%;
     width: 210px;
     margin-top: 0px;
     margin-left: 20px;
}
/*fin presentacion*/
/*inicio habilildades*/
#habilidades{
     padding-top: 55px;
     width: 800px;
}

.habilidades h6{
     color: black;
     
}
.diseno{
     color: black;
}
.progress{
     padding: auto;
     margin-bottom: 15px;
}

.html{
     background-color: rgb(101, 190, 49);
}
.css{
     background-color: blueviolet;
}

.js{
     background-color: rgb(165, 111, 73);
}
.figma{
     background-color: rgb(33, 148, 81);
}

.git{
     background-color: cornflowerblue;
}
/*fin de habilidades*/
/* inico de estudios*/
.estudios{
     color: azure;
     padding-top: 25px;
}
/*fin de estudio*/